/* CSS declarations go here */
input{
	border-color:black;
}
.name{
	color:red;
}
.message{
	background:#f5f5f5;
	color:#666;
	padding:10px;
	margin:5px;
	position: relative;
}
.remove{
	float:right;
	position: absolute;
	top:10px;
	right:10px;
}

.left{
    float:left;
    display: inline-block;
}
.right{
    float:left;
    display: inline-block;
    width: calc(100% - 950px );
    margin:20px
}